In [1]:
import numpy as np
import pandas as pd
import requests

In [ ]:
url = """https://data.sfgov.org/resource/imvp-dq3v.json?$where=session_start_dt between '2019-12-01T00:00:00' and '2020-12-01T00:00:00' limit 20000000"""
response = requests.get(url)
df = pd.DataFrame(response.json())

In [ ]:
df = df[['post_id', 'payment_type', 'session_start_dt', 'session_end_dt', 
         'meter_event_type', 'gross_paid_amt']]

In [11]:
df_meters = pd.read_csv('../../data/Meters/Parking_Meters.csv')
l_post = df_meters['POST_ID'].unique()

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (28,30) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [16]:
df = df[df['post_id'].isin(l_post)].reset_index(drop=1)

In [22]:
df = df.reset_index()
df_meters = df_meters.reset_index()

In [23]:
df = df.merge(df_meters[['POST_ID', 'BLOCKFACE_ID']], left_on='post_id', right_on='POST_ID')
df = df.drop(['POST_ID'], axis=1)

In [24]:
df.to_csv('../../../Revenue.csv', index=None)

In [26]:
df

,post_id,payment_type,session_start_dt,session_end_dt,meter_event_type,gross_paid_amt,BLOCKFACE_ID
0,568-26250,CASH,2019-12-01T01:24:31.000,2019-12-01T01:24:31.000,NS,0.25,568261
1,568-26250,CREDIT CARD,2019-12-03T09:49:07.000,2019-12-03T10:04:07.000,NS,0.63,568261
2,568-26250,CREDIT CARD,2019-12-04T12:48:22.000,2019-12-04T13:03:22.000,NS,0.69,568261
3,568-26250,CASH,2019-12-04T13:25:45.000,2019-12-04T13:36:40.000,NS,0.5,568261
4,568-26250,CASH,2019-12-04T13:25:56.000,2019-12-04T13:40:56.000,NS,0.65,568261
...,...,...,...,...,...,...,...
16958901,845-05310,CREDIT CARD,2020-11-30T09:49:59.000,2020-11-30T10:01:59.000,NS,0.25,845051
16958902,845-05310,CREDIT CARD,2020-11-30T09:50:54.000,2020-11-30T10:49:54.000,AT,1,845051
16958903,845-05310,CREDIT CARD,2020-11-30T13:05:54.000,2020-11-30T14:29:54.000,NS,1.75,845051
16958904,845-05310,CREDIT CARD,2020-11-30T13:06:31.000,2020-11-30T14:41:30.000,AT,0.25,845051
16958905,845-05310,CREDIT CARD,2020-11-30T13:08:51.000,2020-11-30T14:53:51.000,AT,0.25,845051