In [1]:
import numpy as np
import pandas as pd
import requests

In [2]:
url = """https://data.sfgov.org/resource/imvp-dq3v.json?$where=session_start_dt between '2019-12-01T00:00:00' and '2020-12-01T00:00:00' limit 20000000"""
response = requests.get(url)
df = pd.DataFrame(response.json())

In [3]:
df = df[['post_id', 'payment_type', 'session_start_dt', 'session_end_dt', 
         'meter_event_type', 'gross_paid_amt']]

In [4]:
df_meters = pd.read_csv('../../data/Meters/Parking_Meters_new.csv')
l_post = df_meters['POST_ID'].unique()

In [5]:
df = df[df['post_id'].isin(l_post)].reset_index(drop=1)

In [6]:
df = df.reset_index()
df_meters = df_meters.reset_index()

In [7]:
df = df.merge(df_meters[['POST_ID', 'BLOCKFACE_ID']], left_on='post_id', right_on='POST_ID')
df = df.drop(['POST_ID'], axis=1)

In [8]:
df.to_csv('../../../Revenue.csv', index=None)

In [9]:
df

,index,post_id,payment_type,session_start_dt,session_end_dt,meter_event_type,gross_paid_amt,BLOCKFACE_ID
0,0,830-07140,CASH,2019-12-01T02:54:40.000,2019-12-01T02:54:40.000,NS,1,830072
1,249,830-07140,PAY BY CELL,2019-12-01T10:09:00.000,2019-12-01T12:09:00.000,NS,2.91,830072
2,829,830-07140,CREDIT CARD,2019-12-01T11:58:39.000,2019-12-01T17:58:18.000,NS,24,830072
3,65861,830-07140,CREDIT CARD,2019-12-03T07:53:16.000,2019-12-03T08:53:16.000,NS,1.5,830072
4,75487,830-07140,CREDIT CARD,2019-12-03T10:01:42.000,2019-12-03T13:05:26.000,NS,6.5,830072
...,...,...,...,...,...,...,...,...
13792414,13748760,845-05310,CREDIT CARD,2020-11-30T09:49:59.000,2020-11-30T10:01:59.000,NS,0.25,845051
13792415,13748821,845-05310,CREDIT CARD,2020-11-30T09:50:54.000,2020-11-30T10:49:54.000,AT,1,845051
13792416,13767759,845-05310,CREDIT CARD,2020-11-30T13:05:54.000,2020-11-30T14:29:54.000,NS,1.75,845051
13792417,13767827,845-05310,CREDIT CARD,2020-11-30T13:06:31.000,2020-11-30T14:41:30.000,AT,0.25,845051
13792418,13768102,845-05310,CREDIT CARD,2020-11-30T13:08:51.000,2020-11-30T14:53:51.000,AT,0.25,845051